:root {
  --ejemplo: #333;
}

body {
  margin: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.cabecera {
  background-color: #5e81d1;
  height: 100px;
  padding: 0 15px;
}

h1 {
  font-size: 22px;
  margin: 0;
}

main {
  background-color: #fe8d27;
  display: flex;
  flex-direction: column;
}

img {
  width: 20px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  font-weight: 700;
}

.añadir {
  background-color: #f87500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 15px;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.productos:hover {
  background-color: #c16b1e;
  color: white;
}

.check-productos {
  display: flex;
  align-items: center;
}

.lista {
  padding: 0 15px;
  min-height: calc(100vh - 100px - 40px - 50px)
}

.total-compra {
  height: 50px;
}

.precio-total {
  margin: 0;
  display: flex;
  padding: 0 15px;
  justify-content: flex-end;
  align-items: center;
}
